<ion-header>
  <ion-toolbar>
    <ion-title>New Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Titulo</ion-label>
      <ion-input [(ngModel)]="recipe.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="recipe.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingredientes</ion-label>
      <ion-textarea [(ngModel)]="recipe.ingredientes"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Instrucciones</ion-label>
      <ion-textarea [(ngModel)]="recipe.instructiones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Imágen</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveRecipe()">Publicar Receta</ion-button>
</ion-content>