<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Tarjeta de la receta -->
  <ion-card class="animate__animated animate__slideInUp">
    
    <ion-card-header>
      <ion-card-title>
        <ion-img [src]="receta.imagen" class="recipe-image"></ion-img>

        <ion-icon 
        [name]="isLiked ? 'heart' : 'heart-outline'" 
        class="like-icon"
        (click)="toggleLike()">
      </ion-icon>
        
      </ion-card-title>
    </ion-card-header>

    <!-- Contenido del modal dentro de la tarjeta -->
    <ion-card-content>
      <h2 class="recipe-title">{{ receta.titulo }}</h2>

      <div class="recipe-meta-container">
        <div class="recipe-author">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          </ion-avatar>
          <span>{{ authorName }}</span> <!-- Mostrar el nombre del autor -->
        </div>
        

      </div>

      

      <div class="recipe-likes">
        <ion-icon name="heart"></ion-icon>
        <span>{{ likeCount }} Likes</span>
        <span class="share-icon" (click)="openShareModal()">
          <ion-icon class="social-icon" name="share-social-outline"></ion-icon>
        </span>
      </div>

      

      <hr class="divider">

      <h3>Descripcion</h3>
      <p>{{ receta.descripcion }}</p>

      <hr class="divider">

      <h3>Ingredientes</h3>
      <ul>
        <li *ngFor="let ingredient of receta.ingredientes.split('\n')">
          <ion-icon name="checkmark-circle"></ion-icon> {{ ingredient }}
        </li>
      </ul>

      <hr class="divider">

      <h3>Instrucciones</h3>
      <div [innerHTML]="receta.instrucciones" style="white-space: pre-wrap;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal id="example-modal" #modal>
  <ng-template>
    <div class="wrapper">
      <h1>Compartir</h1>

      <!-- Campo de correo electrónico -->
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          labelPlacement="floating"
          placeholder="correo@dominio.com">
          <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>

      <!-- Botón para enviar -->
      <ion-button expand="block" (click)="enviarEmail()">Enviar</ion-button>
    </div>
  </ng-template>
</ion-modal>