<ion-content [fullscreen]="true">

  <!-- Search Bar -->
  <ion-searchbar placeholder="Buscar receta..." [(ngModel)]="searchTerm" (ionInput)="filterRecipes()"
    class="round-searchbar">
  </ion-searchbar>

  <!-- New Recipes Title -->
  <div class="new-recipes-title" *ngIf="!seleccionando">
    <ion-button expand="block" (click)="openNewRecipeModal()">Nueva receta</ion-button>
  </div>

  <!-- Botón para activar el modo selección -->
  <ion-button expand="full" (click)="toggleSeleccionar()">
    {{ seleccionando ? 'Cancelar selección' : 'Seleccionar recetas' }}
  </ion-button>
  <ion-button expand="full" (click)="eliminarRecetasSeleccionadas()" [disabled]="!hayRecetasSeleccionadas()" *ngIf="seleccionando">
    Eliminar recetas seleccionadas
  </ion-button>

  <!-- Grid Layout for Cards -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let receta of filteredRecetas">
        <ion-card
          color="light"
          (click)="seleccionando ? toggleSelection(receta) : openRecipeDetail(receta)"
          [ngClass]="{ 'selected-card': receta.selected }"  
        >
          <ion-img style="height: 5rem; width: 100%; object-fit: cover; overflow: hidden;"
            [src]="receta.imagen"></ion-img>

          <ion-card-header>
            <ion-card-title style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              <h6>{{ receta.titulo }}</h6>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-icon class="icon" name="time-outline"></ion-icon>
            <span class="text">{{ formatTiempo(receta.minutos) }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
