<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">
        <div class="main-container">
          <div class="profile-picture-container">
            <ion-avatar class="profile-avatar">
              <img [src]="profilePictureUrl" alt="Profile Picture">
            </ion-avatar>
            <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
            
            <!-- Ícono para cambiar foto -->
            <ion-icon 
              name="camera" 
              class="change-photo-icon" 
              (click)="fileInput.click()">
            </ion-icon>
          </div>
        </div>

        <div class="ion-text-center">
        <h1 class="custom-heading">{{ firstName }} {{ lastName }}</h1>
        </div>
        

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="lastName" type="text"></ion-input>
        </ion-item>
      

        <div class="button-container">
          <ion-button expand="block" color="primary" (click)="saveProfile()">Modificar Perfil</ion-button>

          <div class="spacer"></div>

          <!-- Botón de Cerrar Sesión en Rojo -->
          <ion-button expand="block" color="dark" (click)="logout()">Cerrar sesión</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>