<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search Bar -->
  <ion-searchbar placeholder="Buscar receta..." [(ngModel)]="searchTerm" (ionInput)="filterRecipes()"></ion-searchbar>

  <!-- New Recipes Title -->
  <div class="new-recipes-title">
    <ion-button expand="block" (click)="openNewRecipeModal()">Nueva receta</ion-button>
  </div>

  <!--  Cards Section -->
  <!-- Grid Layout for Cards -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let receta of filteredRecetas">
        <ion-card (click)="openRecipeDetail(receta)">
          <ion-img [src]="receta.imagen"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ receta.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ receta.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
