// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
	--ion-color-primary: #FF7043;
	--ion-color-primary-rgb: 255,112,67;
    --ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e0633b;
	--ion-color-primary-tint: #ff7e56;

	--ion-color-secondary: #FFF8E1;
	--ion-color-secondary-rgb: 255,248,225;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e0dac6;
	--ion-color-secondary-tint: #fff9e4;

	--ion-color-tertiary: #616161;
	--ion-color-tertiary-rgb: 97,97,97;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #555555;
	--ion-color-tertiary-tint: #717171;

	--ion-color-success: #81C784;
	--ion-color-success-rgb: 129,199,132;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #72af74;
	--ion-color-success-tint: #8ecd90;

	--ion-color-warning: #FFB74D;
	--ion-color-warning-rgb: 255,183,77;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0a144;
	--ion-color-warning-tint: #ffbe5f;

	--ion-color-danger: #E57373;
	--ion-color-danger-rgb: 229,115,115;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #ca6565;
	--ion-color-danger-tint: #e88181;

	--ion-color-light: #FFFFFF;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #757575;
	--ion-color-medium-rgb: 117,117,117;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #676767;
	--ion-color-medium-tint: #838383;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}