.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff; /* Color de fondo blanco para pruebas */
  }
  
.animated-logo {
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: -30px;
    animation: moveToCenter 3s ease-in-out forwards;
  }
  
@keyframes moveToCenter {
    0% {
      transform: translateY(100%);
      bottom: -50px; /* Ajustar el valor inicial */
    }
    100% {
      transform: translateY(0);
      bottom: 50%;
    }
  }
  
.button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
  }

  
  
  @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); // Fuente divertida (Chewy)

  .animated-button {
      opacity: 0;
      background-color: #ff5722 !important; /* Color de fondo del botón */
      border: none;
      color: white;
      font-family: 'Chewy', cursive; /* Aplicar la fuente divertida */
      font-size: 1.5rem; /* Tamaño del texto */
      padding: 15px 30px; /* Tamaño del botón */
      border-radius: 10px; /* Bordes redondeados */
      transition: opacity 1s ease-in-out, background-color 1s ease-in-out;
      animation: fadeIn 2s ease-in forwards;
      text-align: center; /* Alinear el texto al centro */
  
  }
  

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }