<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Receta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="recipe.categoria" [interfaceOptions]="customOptions" interface="alert" placeholder="Seleccionar...">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="recipe.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="recipe.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingredientes</ion-label>
      <ion-textarea [(ngModel)]="recipe.ingredientes"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Instrucciones</ion-label>
      <ion-textarea [(ngModel)]="recipe.instrucciones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tiempo en minutos</ion-label>
      <ion-input type="number" [(ngModel)]="recipe.minutos"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-button expand="block" (click)="selectImage()">Seleccionar imagen</ion-button>
    </ion-item>-->

    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>

    <ion-img *ngIf="selectedImage" [src]="selectedImage"></ion-img>
  </ion-list>
  <ion-button expand="block" (click)="saveRecipe()">Publicar Receta</ion-button>
</ion-content>
